{% extends 'base.html' %}

{% block title_name %}
    <title>TaskList</title>
{% endblock %}

{% block page_css %}

{% endblock %}

{% block page_title %}
    <nav class="breadcrumb-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">StudyGroup</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>Forum</span></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}

{% endblock %}

{% block page_js %}

{% endblock %}