{% extends 'base.html' %}

{% block title_name %}
    <title>Home</title>
{% endblock %}

{% block page_css %}
    <link href="/static/plugins/sweetalerts/sweetalert2.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css"/>

    <link href="/static/plugins/modal.css" rel="stylesheet" type="text/css"/>

    <link href="/static/plugins/datatable/datatables-dark.css" rel="stylesheet" type="text/css"/>
    <link href="/static/plugins/datatable/dt-global_style-dark.css" rel="stylesheet" type="text/css"/>

    <link href="/static/Home/css/tabs.css" rel="stylesheet" type="text/css"/>
    <link href="/static/Home/css/search.css" rel="stylesheet" type="text/css"/>
    <link href="/static/Home/css/home.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page_title %}
    <nav class="breadcrumb-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><span>Home</span></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="row layout-spacing layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="search-input-group-style input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="search-input">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24" height="24"
                                     viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor"
                                     stroke-width="2"
                                     stroke-linecap="round"
                                     stroke-linejoin="round"
                                     class="feather feather-search"><circle
                                        cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65"
                                          y2="16.65"></line>
                                </svg>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search Deck"
                               id="input-search" aria-describedby="search-input">
                    </div>

                    <div class="widget-content widget-content-area br-6">
                        <div class="table-responsive mb-4 mt-4">
                            <table id="deck-table" class="table table-hover" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Deck Name</th>
                                    <th>Sharer</th>
                                    <th>Modified</th>
                                    <th>Notes</th>
                                    <th class="no-content"></th>
                                    <th>id</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>2011/04/25</td>
                                    <td>61</td>
                                    <td>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round" onclick="starDeck(this)"
                                             class="feather feather-heart table-cancel">
                                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12
                                            5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06
                                            1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-download table-cancel">
                                            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                            <polyline points="7 10 12 15 17 10"></polyline>
                                            <line x1="12" y1="15" x2="12" y2="3"></line>
                                        </svg>
                                    </td>
                                    <td>1</td>
                                </tr>
                                -->
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="cardModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cardModalCenterTitle"></h5>
                    <div class="modal-options"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-sm-12">
                            <ul class="nav nav-tabs  mb-3" id="animateLine" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="animated-card-tab" data-toggle="tab"
                                       href="#animated-card" role="tab"
                                       aria-controls="animated-card" aria-selected="true">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-copy">
                                            <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                                            <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
                                        </svg>
                                        Cards</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="animated-comments-tab" data-toggle="tab"
                                       href="#animated-comments" role="tab" onclick="showDeckComments()"
                                       aria-controls="animated-comments" aria-selected="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-send">
                                            <line x1="22" y1="2" x2="11" y2="13"></line>
                                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                        </svg>
                                        Comments</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="">
                                <div class="tab-pane fade show active" id="animated-card" role="tabpanel"
                                     aria-labelledby="animated-card-tab">
                                    <div class="widget-content widget-content-area br-6">
                                        <div class="table-responsive">
                                            <table id="card-table" class="table table-hover" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th>Front</th>
                                                    <th>Back</th>
                                                    <th class="no-content"></th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="animated-comments" role="tabpanel"
                                     aria-labelledby="animated-comments-tab">
                                    <div id="comments-container" class="mb-3">
                                        <div class="row"></div>
                                    </div>
                                    <div id="container-add-comments">
                                        <div class="row">
                                            <div class="col-10">
                                                <input type="text" class="form-control" id="input-add-comment"
                                                       placeholder="comment content">
                                            </div>
                                            <div class="col-2">
                                                <button id="btn-add-comment" type="button" class="btn btn-primary">
                                                    Add Comment
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="col-xl-9 mx-auto">
                                        <blockquote class="blockquote media-object">
                                            <div class="media">
                                                <div class="usr-img mr-2">
                                                    <img alt="avatar" src="/static/images/avatar.jpg"
                                                         class="br-30">
                                                </div>
                                                <div class="media-body align-self-center">
                                                    <h4>lmh</h4>
                                                    <p class="d-inline">Morbi luctus elit eu sem euismod, at elementum
                                                        odio tincidunt.</p>
                                                </div>
                                            </div>
                                            <small class="text-right">Someone famous <cite title="Source Title">Source
                                                Title</cite></small>
                                        </blockquote>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js %}
    <script src="/static/plugins/sweetalerts/sweetalert2.min.js"></script>
    <script src="/static/plugins/datatable/datatables.js"></script>
    <script src="/static/Deck/js/modal_card.js"></script>
    <script src="/static/Home/js/home.js"></script>
{% endblock %}