.deck-btn {
    color: #888ea8;
    margin-right: 6px;
    vertical-align: middle;
    fill: rgba(0, 23, 55, 0.08);
    cursor: pointer;
}

.deck-btn:hover {
    color: #e7515a;
}

.modal-content .modal-body p {
    color: #515365;
}