{% extends 'base.html' %}

{% block title_name %}
    <title>Review</title>
{% endblock %}

{% block page_css %}
    <link href="/static/Card/css/card.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page_title %}
    <nav class="breadcrumb-one" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><span>Review</span></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="row layout-top-spacing">
        <ul class="cards">

            <li class="card">
                <div class="card-front">
                    <h1>Review Card 1 </h1>
                    <p>卡组：计算机类</p>
                    <br/>
                    <h3>计算机包含哪几个部件？</h3>
                </div>
            </li>
            <li class="card">
                <div class="card-front">
                    <h1>Review Card 2 </h1>
                    <p>卡组：计算机类</p>
                    <br/>
                    <h3>计算机包含哪几个部件？</h3>
                </div>
            </li>
            <li class="card">
                <div class="card-front">
                    <h1>Review Card 3 </h1>
                    <p>卡组：计算机类</p>
                    <br/>
                    <h3>计算机包含哪几个部件？</h3>
                </div>
            </li>
            <li class="card">
                <div class="card-front">
                    <h1>Review Card 4 </h1>
                    <p>卡组：计算机类</p>
                    <br/>
                    <h3>计算机包含哪几个部件？</h3>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block page_js %}
    <script src="/static/Card/js/review_page.js"></script>
{% endblock %}