<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Favicon-->
    <link rel="icon" href="/static/images/logo.svg">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet'
          href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

    <link href="/static/Login/css/form.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Login</h1>
        <form action="LoginPost" method="post">
            {% csrf_token %}
            <div class="input-container">
                <input type="text" id="username" name="username" required="required"/>
                <label for="username">Username</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="password" name="password" required="required"/>
                <label for="password">Password</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button type="submit" value="Submit"><span>Go</span></button>
            </div>
            <div class="footer"><a href="#">Forgot your password?</a></div>
        </form>
    </div>
    <div class="card alt">
        <div class="toggle"></div>
        <h1 class="title">Register
            <div class="close"></div>
        </h1>
        <form action="RegisterPost" method="post" onsubmit="return check(this)">
            {% csrf_token %}
            <div class="input-container">
                <input type="text" id="username" name="username" required="required"/>
                <label for="username">Username</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="text" id="email" name="email" required="required"/>
                <label for="email">Email</label>
                <div class="bar"></div>
            </div>
            <div class="input-container">
                <input type="password" id="password" name="password" required="required"/>
                <label for="password">Password</label>
                <div class="bar"></div>
            </div>
            <div class="button-container">
                <button type="submit" value="Submit"><span>Go</span></button>
            </div>
        </form>
    </div>
</div>

<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="/static/jquery-3.1.1.min.js"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->

<script src="/static/Login/js/form.js"></script>
</body>
</html>