/*
  Filtered List Search
*/
.filtered-list-search {
}

.filtered-list-search form > div {
    position: relative;
    width: 80%;
}

.filtered-list-search form > div svg {
    position: absolute;
    right: 11px;
    color: #acb0c3;
    height: 36px;
    width: 19px;
    top: 4px;
}

.filtered-list-search form input {
    padding: 6px 27px 6px 15px;
    color: #d3d3d3;
    border: none;
    box-shadow: 0px 2px 4px rgba(126, 142, 177, 0.12);
    width: 100% !important;
    background-color: #fff;
}

.filtered-list-search form input:focus {
    border-color: #d3d3d3;
}

.filtered-list-search form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #888ea8;
}

.filtered-list-search form input::-moz-placeholder { /* Firefox 19+ */
    color: #888ea8;
}

.filtered-list-search form input:-ms-input-placeholder { /* IE 10+ */
    color: #888ea8;
}

.filtered-list-search form input:-moz-placeholder { /* Firefox 18- */
    color: #888ea8;
}